{% load static %}
<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %} &mdash; diablobuilds.ru</title>

    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <meta name="description" content="{% block description %}{% endblock description %}">

    <meta property="og:title" content="{% block og-title %}{% endblock og-title %}"/>
    <meta property="og:description" content="{% block og-description %}{% endblock og-description %}"/>
    <meta property="og:type" content="{% block og-type %}{% endblock og-type %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:image" content="{% block og-image %}{% endblock og-image %}"/>
    {% block og-sitename %}<meta property="og:site_name" content="{# PROJECT_NAME #}"/>{% endblock og-sitename %}

    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>

    <link rel="stylesheet" href="//yandex.st/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-markdown.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>

    {% if debug %}
        {# css #}
    {% else %}
        {# mincss #}
    {% endif %}

    {% block jshead %}{% endblock jshead %}
</head>
<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% block nav-index %}{% endblock %}" href="{% url 'index' %}">Главная</a>
            <a class="blog-nav-item {% block nav-builds %}{% endblock %}" href="{% url 'builds_list' %}">Билды</a>
            <a class="blog-nav-item {% block nav-build-add %}{% endblock %}" href="{% url 'build_add' %}">Добавить</a>
{#            <a class="blog-nav-item" href="#">О проекте</a>#}
        </nav>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock content %}
</div>

<div class="blog-footer">
    <div class="container">
        <p>Проект в стадии разработки</p>
        <p>
            <a href="#">Наверх</a>
        </p>
    </div>
</div>



{% block metrics %}
    {% if not debug %}
        {# include metrics #}
    {% endif %}
{% endblock metrics %}

<script src="//yandex.st/jquery/2.1.0/jquery.min.js"></script>
<script src="//yandex.st/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://eu.battle.net/d3/static/js/tooltips.js"></script>
<script src="{% static 'js/bootstrap-markdown.js' %}"></script>
<script src="{% static 'js/markdown.js' %}"></script>
{#<script src="{% static 'js/to-markdown.js' %}"></script>#}
<script src="{% static 'js/main.js' %}"></script>

{% if debug %}
    {# scripts #}
{% else %}
    {# minscripts #}
{% endif %}

{% block jsfooter %}{% endblock jsfooter %}
</body>
</html>