{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    {{ build.name }}
{% endblock title %}

{% block nav-builds %}active{% endblock %}

{% block content %}
    <div class="blog-header">
{#        <h1 class="blog-title">{{ build.name }}</h1>#}
{##}
{#        <p class="lead blog-description">#}
{#            {{ build.date_created|date:"DATE_FORMAT" }}, автор:#}
{#            {% if build.author != 'Гость' %}#}
{#                <a href="#">{{ build.author }}</a>#}
{#            {% else %}#}
{#                {{ build.author }}#}
{#            {% endif %}#}
{#        </p>#}
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ build.name }}</h2>

                <div class="alert alert-warning" hidden="hidden">
                    <button type="button" class="close" data-hide="alert" aria-hidden="true">&times;</button>
                    Вы уже голосовали за этот билд.
                </div>

                <p class="blog-post-meta pull-left">{{ build.date_created|date:"DATE_FORMAT" }}, автор:
                    {% if build.author != 'Гость' %}
                        <a href="#">{{ build.author }}</a>
                    {% else %}
                        {{ build.author }}
                    {% endif %}
                </p>
                <p class="pull-right">
                    {% csrf_token %}
                    Класс: <a href="#">{{ build.get_hero_class_display }}</a>
                    | Рейтинг:
                    <button id="down" data-value="down" class="btn-link"><strong>-</strong></button>
                    <span id="rating">{{ build.rating }}</span>
                    <button id="up" data-value="up" class="btn-link"><strong>+</strong></button>
                </p>
                <br><br>

                <p><a href="{{ build.calculator_url }}">{{ build.calculator_url }}</a></p>
                <hr>

                <p>{{ build.description|markdown }}</p>
                {% if build.get_youtube_embed %}
                <p>Пример работы билда:</p>
                {{ build.get_youtube_embed|safe }}
                {% endif %}
                <hr>
                {% load disqus_tags %}
                {% disqus_dev %}
                {% disqus_show_comments %}
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>О проекте</h4>

                <p>Проект создан для составления рейтинга билдов для <em>актуальной на текущий момент</em> версии игры
                    Diablo 3.</p>

                <p>Текущая версия игры: <strong>{{ CURRENT_GAME_VERSION }}</strong></p>
            </div>
        </div>
    </div>
{% endblock content %}