{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    {{ build.name }}
{% endblock title %}

{% block nav-builds %}active{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Билды Diablo 3
            <small></small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <h2>{{ build.name }}</h2>

                <div class="alert alert-info" hidden="hidden">
                    <button type="button" class="close" data-hide="alert" aria-hidden="true">&times;</button>
                    Вы уже голосовали за этот билд сегодня.
                </div>

                <p class="pull-left">{{ build.date_created|date:"DATE_FORMAT" }}, автор:
                    {% if build.author != 'Гость' %}
                        <a href="#">{{ build.author }}</a>
                    {% else %}
                        {{ build.author }}
                    {% endif %}
                </p>
                <p class="pull-right">
                    {% csrf_token %}
                    Класс: <a href="#">{{ build.get_hero_class_display }}</a>
                    | Рейтинг:
                    <button id="down" data-value="down" class="btn-link"><strong>-</strong></button>
                    <span id="rating">{{ build.rating }}</span>
                    <button id="up" data-value="up" class="btn-link"><strong>+</strong></button>
                </p>
                <br><br>

                <p><a href="{{ build.calculator_url }}">Ссылка на калькулятор</a></p>
                <hr>

                <p>{{ build.description|markdown }}</p>
                {% if build.get_youtube_embed %}
                <p>Пример работы билда:</p>
                {{ build.get_youtube_embed|safe }}
                {% endif %}
                <hr>
                {% load disqus_tags %}
                {% disqus_dev %}
                {% disqus_show_comments %}
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            {% include 'sidebar.html' %}
        </div>
    </div>
{% endblock content %}