{% extends 'base.html' %}

{% block title %}
    FAQ
{% endblock title %}

{% block nav-faq %}active{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>FAQ<small></small></h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            {% for faq_entry in faq_list %}
                <h3>Q: {{ faq_entry.question }}</h3><br/>

                <p>{{ faq_entry.answer }}</p>
                <hr/>

            {% empty %}

                Здесь пусто.

            {% endfor %}
        </div>

        <div class="col-md-3 col-md-offset-1">
            {% include 'sidebar.html' %}
        </div>
    </div>
{% endblock content %}