{% extends 'base.html' %}
{% load core_extras %}

{% block title %}
    Билды для Diablo 3
{% endblock title %}

{% block nav-index %}active{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Билды Diablo 3 <small></small></h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            {% for build in builds %}
                <div class="row">
                    <h2><a href="{{ build.get_absolute_url }}">{{ build.name }}</a> <small>{{ build.diablo_version|default:"" }}</small></h2>

                    <div id="{{ build.id }}" class="alert alert-info" hidden="hidden">
                        <button type="button" class="close" data-hide="alert" aria-hidden="true">&times;</button>
                        Вы уже голосовали за этот билд сегодня.
                    </div>

                    <p class="pull-left">{{ build.date_created|date:"DATE_FORMAT" }}, автор:
{#                        {% if build.author != 'Гость' %}#}
                        {% if build.author != 'Гость' and build.author|battletag != None %}
                            {{ build.author|battletag|safe }}
                        {% else %}
                            {{ build.author }}
                        {% endif %}
                    </p>

                    <p class="pull-right rating" id="{{ build.id }}">
                        {% csrf_token %}
                        Класс: <a href="{% url 'builds_list' build.get_hero_class_slug  %}"><span><img class="img-rounded" src="{{ build.get_hero_class_icon }}" height="26px"/></span>{{ build.get_hero_class_display }}</a>
                        | Рейтинг:
                        <button id="down" data-value="down" class="btn-link"><strong>-</strong></button>
                        <span class="rating" id="{{ build.id }}">{{ build.rating }}</span>
                        <button id="up" data-value="up" class="btn-link"><strong>+</strong></button>
                    </p>
                    <br><br>

                    <p>
                        <a href="{{ build.calculator_url }}">Ссылка на калькулятор</a> |
                        <a href="{{ build.get_absolute_url }}">Читать &raquo;</a>
                    </p>
                    <hr>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-3 col-md-offset-1">
            {% include 'sidebar.html' %}
        </div>
    </div>
{% endblock content %}