{% extends 'base.html' %}

{% block title %}
    Билды для Diablo 3
{% endblock title %}

{% block nav-index %}active{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Билды Diablo 3 <small></small></h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            {% for build in builds %}
                <div class="row">
                    <h2><a href="{{ build.get_absolute_url }}">{{ build.name }}</a></h2>

                    <p class="pull-left">{{ build.date_created|date:"DATE_FORMAT" }}, автор:
                        {% if build.author != 'Гость' %}
                            <a href="#">{{ build.author }}</a>
                        {% else %}
                            {{ build.author }}
                        {% endif %}
                    </p>

                    <p class="pull-right">
                        Класс: <a href="#">{{ build.get_hero_class_display }}</a>
                        | Рейтинг:
                        {{ build.rating }}
                    </p>
                    <br><br>

                    <p><a href="{{ build.calculator_url }}">Ссылка на калькулятор</a></p>
                    <hr>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-3 col-md-offset-1">
            {% include 'sidebar.html' %}
        </div>
    </div>
{% endblock content %}