<div class="row">
    <h4>О проекте</h4>

    <p>Проект создан для составления рейтинга билдов <em>для актуальной на текущий момент версии игры</em> Diablo 3.
    </p>

    <p>Текущая версия игры: <strong>{{ CURRENT_GAME_VERSION }}</strong></p>
</div>

<div class="row">
    <h4>Новости</h4>
    <ol class="list-unstyled">
        {% for item in news %}
            <li>{{ item.text }}
                <small>({{ item.date_created|date:'SHORT_DATE_FORMAT' }})</small>
            </li>
            <br/>
        {% endfor %}
    </ol>
</div>