Django<1.7
Pillow==2.8.1
South==1.0.2
psycopg2==2.6
raven==5.3.1
uWSGI==2.0.10
gunicorn==19.3.0
-e hg+https://bitbucket.org/izi/django-admin-tools#egg=django_admin_tools
django-configurations==0.8
django-toolbelt==0.0.1

-e git+https://bitbucket.org/rebranch/rebranch-shortcuts#egg=rebranch_shortcuts-dev
git+git://github.com/comoga/django-constance#egg=django-constance
redis==2.10.1

beautifulsoup4==4.3.2
django-disqus==0.4.1
django-ckeditor-updated==4.4.0