Django<1.7
South
psycopg2
raven
uWSGI
gunicorn
Pillow
-e hg+https://bitbucket.org/izi/django-admin-tools#egg=django_admin_tools
django-configurations
django-toolbelt

-e git+https://bitbucket.org/rebranch/rebranch-shortcuts#egg=rebranch_shortcuts-dev
-e git+https://bitbucket.org/rebranch/rebranch-deployment-tools.git#egg=rebranch-deployment-tools
git+git://github.com/comoga/django-constance#egg=django-constance
redis==2.10.1

beautifulsoup4==4.3.2
django-disqus==0.4.1
django-ckeditor-updated==4.4.0